* {
    margin: 10px;
}

body {
    background-color: black;
}

#home {
    margin: -1px;
    padding-bottom: 2cm;
    background-color: #8a2be2;
}

#home header {
    font-size: 30px;
    color: #d8bfd8;
    float: left;
    padding-left: 2cm;
}

.topdiv {
    float: right;
    padding-right: 1cm;
}

.topmenu {
    color: lightgray;
    background-color: #301934;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
    text-decoration: none;
}

.topmenu:hover {
    color: white;
    font-weight: bolder;
    background-color: purple;
}

.b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    border-top-style: solid;
    border-top-width: 20px;
    border-radius: 10px;
}

.temperature {
    border-top-color: green;
}

.weight {
    border-top-color: coral;
}

.distance {
    border-top-color: cyan;
}

figure {
    float: left;
    width: 200px;
}

figure img {
    width: 200px;
}

figcaption {
    color: black;
    font-size: 17px;
    text-align: center;
}

.b button {
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 40px;
    width: 100%;
    background-color: lightgreen;
    padding-left: 15px;
    padding-right: 15px;
}

.b button:hover {
    cursor: pointer;
}

fieldset {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 30px;
    font-weight: bolder;
}

.iconbutton {
    position: fixed;
    bottom: 50%;
    left: 0;
}

.iconbutton button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: cyan;
}

.iconbutton img {
    width: 30px;
}

footer {
    background-color: lightpink;
    margin-top: 20px;
}