:root {
	--blue: #4285f4;
	--red: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;

	--a-th: #1a0dab;

	--text-color: #202124;
	--text-subtle: #5f6368;
	--bg-color: #ffffff;
	--border-color: #dadce0;

	--btn-bg-color: #f8f9fa;
	--btn-bg-hover-color: #f8f9fa;
	--btn-border-hover: #dadce0;
	--btn-text-color: #3c4043;

	--footer-bg-color: #f2f2f2;

	--search-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	--search-hover-shadow: 0 1px 6px rgba(32, 33, 36, 0.28), 0 2px 4px rgba(32, 33, 36, 0.18);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Google Sans', arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	min-height: 100vh;
	font-size: 14px;
	color: var(--text-color);
	background-color: var(--bg-color);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 6px;
	height: 60px;
}

.header-right {
	display: flex;
	align-items: center;
	gap: 15px;
	padding-right: 15px;
}

.header-right a {
	color: var(--text-color);
	font-size: 13px;
	line-height: 24px;
}

.icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.icon-wrapper:hover {
	background-color: rgba(60, 64, 67, 0.08);
}

.profile-img {
	border-radius: 50%;
	height: 32px;
	width: 32px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	margin-top: 100px;
}

.logo {
	margin-bottom: 20px;
	font-size: 90px;
	font-weight: 500;
	letter-spacing: -4px;
	user-select: none;
	line-height: 1;
}

.search-container {
	width: 100%;
	max-width: 584px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-bar {
	display: flex;
	align-items: center;
	width: 100%;
	height: 46px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	padding: 0 14px;
	margin: 0 auto;
}

.search-bar:hover,
.search-bar:focus-within {
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
	border-color: rgba(223, 225, 229, 0);
}

.search-icon svg {
	width: 20px;
	height: 20px;
	fill: #9aa0a6;
	margin-top: 2px;
}

.search-bar input {
	flex-grow: 1;
	border: none;
	outline: none;
	background-color: transparent;
	padding: 0 13px;
	font-size: 16px;
	font-family: inherit;
	height: 100%;
}

.search-tools {
	display: flex;
	align-items: center;
	gap: 12px;
}

.search-tools img {
	height: 24px;
	cursor: pointer;
}

.search-buttons {
	margin-top: 28px;
	display: flex;
	gap: 12px;
	justify-content: center;
}

.search-buttons button {
	background-color: var(--btn-bg-color);
	border: 1px solid transparent;
	color: var(--btn-text-color);
	font-size: 14px;
	padding: 0 16px;
	height: 36px;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
}

.search-buttons button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	background-color: var(--btn-bg-hover-color);
	border-color: #dadce0;
	color: #202124;
}

.lang-offer {
	margin-top: 28px;
	font-size: 13px;
	color: var(--text-subtle);
}

.lang-offer a {
	color: var(--a-th);
	text-decoration: none;
}

.lang-offer a:hover {
	text-decoration: underline;
}

footer {
	background-color: var(--footer-bg-color);
	flex-shrink: 0;
}

.footer-country {
	padding: 15px 30px;
	border-bottom: 1px solid var(--border-color);
	font-size: 15px;
	color: #70757a;
}

.footer-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
}

.footer-links a {
	display: block;
	padding: 15px;
	color: #70757a;
	font-size: 14px;
	white-space: nowrap;
}

.footer-left,
.footer-right {
	display: flex;
	flex-wrap: wrap;
}

.footer-left {
	justify-content: flex-start;
}

.footer-right {
	justify-content: flex-end;
}

@media (max-width: 800px) {
	.footer-links {
		justify-content: center;
	}

	.footer-left,
	.footer-right {
		justify-content: center;
	}
}